[Unit]
Description=A program that monitors Spotify DBus signals and communicates with polybar over IPC to control the polybar spotify modules.
After=graphical.target

[Service]
ExecStart=/usr/bin/spotify-listener
Type=simple
RestartSec=5

[Install]
WantedBy=default.target

