[Unit]
Description=A program that monitors Spotify DBus signals and communicates with polybar over dbus to update the module and control spotify.
After=graphical.target

[Service]
ExecStart=/usr/bin/spotify-listener
Type=simple
RestartSec=5

[Install]
WantedBy=default.target
